<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <h2 class="text-center">{{ section.title }}</h2>
  <hr class="divider my-4">
  <div id="portfolio" class="{{ section.background_style }}">
    <div class="container-fluid p-0">    
      <div class="row no-gutters">
        {% for proj in section.projects %}
        <div class="col-lg-4 col-sm-6">
          <div class="portfolio-box">
            <img class="img-fluid" src="{{ proj.image }}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-name text-dark">
                {{ proj.title }}
              </div>
              <div class="project-category text-dark">
                <hr class="divider my-4">
                {{ proj.text }}
              </div>
              {% if proj.url %}
              <div class="project-category text-dark mt-3">
                <a href="{{ proj.url }}"><i class="fab fa-github fa-3x"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class='mt-5'>
      {% include actions.html actions=section.actions %} 
    </div>
  </div>  
</section>
